# Site settings
title: 'Michal Kaptur'
description: 'Michal Kaptur contact and portfolio'
url: 'http://michalkaptur.github.io'
baseurl: '/'
# google_analytics: 'UA-XXXXXX-X'
# disqus_shortname: 'your-disqus-name'

author:
  name: 'Michal Kaptur'
  email: kaptur.michal@gmail.com
  twitter_username: michal.kaptur@protonmail.com
  facebook_username: kaptur.michal
  github_username:  michalkaptur
  linkedin_username:  michalkaptur

defaults:
  -
    scope:
      path: ''
      type: 'posts'
    values:
        layout: 'post'

# Build settings
destination: _site
paginate: 10
permalink: /:year/:title/
markdown: kramdown
highlighter: rouge

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false

gems: ['jekyll-paginate']
exclude: ['Gemfile', 'Gemfile.lock']
